.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  padding: 10px;

}
.App-header > a {
  padding: 10px;

}
A:visited {
  color: #818181; /* Цвет посещенных ссылок */
}
A:active {
  color: #ff0202; /* Цвет активных ссылок */
}

.App-link {
  color: #96e2fc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
